In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import  StandardScaler

In [3]:
df= pd.read_csv('cancer_data.csv')
df.head()

,Class,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,0,5,1,1,1,2,1,3,1,1
1,0,5,4,4,5,7,10,3,2,1
2,0,3,1,1,1,2,2,3,1,1
3,0,6,8,8,1,3,4,3,7,1
4,0,4,1,1,3,2,1,3,1,1

In [4]:
df1 =df.loc[:, ['age', 'node-caps']]
df1.head()

   age  node-caps
0    5          2
1    5          7
2    3          2
3    6          3
4    4          2

In [10]:
x = df1.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [11]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [12]:
lda = LinearDiscriminantAnalysis()
lda.fit(x, y)
yp= lda.predict(x)

In [13]:
lda.decision_function(x)

array([[-0.26940848, -3.28612939, -3.38733717, ..., -4.38298794,
        -4.66161459, -4.70508776],
       [-0.26940848, -3.28612939, -3.38733717, ..., -4.38298794,
        -4.66161459, -4.70508776],
       [-0.0893703 , -4.11075528, -4.25139432, ..., -4.86893704,
        -5.38151805, -5.9040406 ],
       ...,
       [-0.26940848, -3.28612939, -3.38733717, ..., -4.38298794,
        -4.66161459, -4.70508776],
       [-0.17938939, -3.69844233, -3.81936574, ..., -4.62596249,
        -5.02156632, -5.30456418],
       [-0.17938939, -3.69844233, -3.81936574, ..., -4.62596249,
        -5.02156632, -5.30456418]])